:root:has(#light:checked){
    --color-white:#ffffff ;
    --color-red1:#F098B5 ;
    --color-white2:#D5D5D5 ;
    --color-white3:#ffffff;
    --color-red4:#FF003A;
    --color-white4:#C7C7C7;
}

:root:has(#dark:checked){
    
    --color-white: #222222;
    --color-white2:#191919;
    --color-white3: #000000;
    --color-red4: #00FFFF;

    --color-white5: #000000;

}
:root:has(#hacker:checked){
    
    --color-white: #222222;
    --color-white2:#191919;
    --color-white3: #000000;
    --color-red4: #00FF8B;


}
:root:has(#coffee:checked){
    
    --color-white: #320000;
    --color-white2:#5b3333;
    --color-white3: #320000;
    --color-red4: #ffb48a;


}
:root:has(#ocean:checked){
    
    --color-white: #000020;
    --color-white2:#171a4a;
    --color-white3: #000020;
    --color-red4: #9f90ea;


}

.popup{
    display: none;
    position: absolute;
    padding: 100px;
    font-size: x-large;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--color-white3);
    border: solid 4px var(--color-red4);
    border-radius: 30px;
    color: var(--color-red4);
    z-index: 4;
}
.popup button{
    background-color: var(--color-white3);
    color: var(--color-red4);
    border: none;
    position: absolute;
    right: 10px;
    top: 10px;
}